.night {
    color: antiquewhite;
};

.icon-danger{
    color: darkred;
};

.icon-warning{
    color:yellow;
};

.icon-safe{
    color: green;
};

.card-body{
    padding: 0px;
};
/* .rain{
    background-color: blue;
    height: auto;
    padding: 5px 0px 0px 0px;
    color: antiquewhite;
}; */

.day{
    background-color: skyblue;
};

.night{
    background-color: slategrey;
    color: snow;
};

.city-name{
    text-transform: capitalize;
};

img{
    max-height: 10px;
};